@font-face {
  font-family: 'Monument Grotesk';
  src: url('https://mary-soroka.github.io/font/MonumentGrotesk-Thin.woff2') format('woff2'),
       url('https://mary-soroka.github.io/font/MonumentGrotesk-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monument Grotesk';
  src: url('https://mary-soroka.github.io/font/MonumentGrotesk-Light.woff2') format('woff2'),
       url('https://mary-soroka.github.io/font/MonumentGrotesk-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monument Grotesk';
  src: url('https://mary-soroka.github.io/font/MonumentGrotesk-Regular.woff2') format('woff2'),
       url('https://mary-soroka.github.io/font/MonumentGrotesk-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monument Grotesk';
  src: url('https://mary-soroka.github.io/font/MonumentGrotesk-Medium.woff2') format('woff2'),
       url('https://mary-soroka.github.io/font/MonumentGrotesk-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monument Grotesk';
  src: url('https://mary-soroka.github.io/font/MonumentGrotesk-Bold.woff2') format('woff2'),
       url('https://mary-soroka.github.io/font/MonumentGrotesk-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monument Grotesk';
  src: url('https://mary-soroka.github.io/font/Batang.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}