@font-face {
    font-family: 'Volte';
    src: url('Volte-Light.woff2') format('woff2'),
        url('Volte-Light.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Volte';
    src: url('Volte-Bold.woff2') format('woff2'),
        url('Volte-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Volte';
    src: url('Volte-Medium.woff2') format('woff2'),
        url('Volte-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Volte';
    src: url('Volte-Semibold.woff2') format('woff2'),
        url('Volte-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Volte';
    src: url('Volte.woff2') format('woff2'),
        url('Volte.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
  box-sizing: border-box;
}

html, body {
  scroll-behavior: smooth;
  margin:0;
  padding:0;
  font-family: 'Volte', sans-serif;
  overflow-x:hidden;
  scroll-behavior: smooth;
  font-size: calc(1.37vw + .5vw);
  font-weight:400;
  line-height:1.15;
  letter-spacing: -.5px;
}

a {
  text-decoration:none;
  color:rgba(0,0,0,1);
  transition: .1s ease-in-out;
  font-weight:600;
}

a:hover {
  color:rgba(0,0,0,.5);
}



h2 {
  letter-spacing:.05px;
  font-weight:500;
  font-size:1.3em;
  padding:0;
  margin:0;
}

h3 {
  letter-spacing:.1pt;
  font-weight:500;
  font-size:.8em;
  padding:3px;
  margin:0;
  line-height:1.5;
}

h5 {
  letter-spacing:.3pt;
  font-weight:500;
  font-size:.2em;
  opacity:.4;
  padding:0 0 1vw;
  margin:0;
}

h4 {
  letter-spacing:.3pt;
  font-weight:400;
  font-size:.1em;
  z-index:99999999;
  padding:0 0 .5vw;
  margin:0;
  line-height:.9;
}

h6 {
  font-size:2vw;
  font-weight:500;
  letter-spacing:0;
  line-height:1.5;
  margin:0;
  width:90%;
}

.quick {
  width:100%;
  padding:12vw 10vw 0 17vw;
  margin:0 auto 0;

}

.quick a {
  border:0;
  font-weight:500;
}

.quick a:hover {
  border:0;
}

.quick table {
  width:93%;
  padding:0;
  margin:0;
  line-height:1.2;
}

 .quick td {
  padding-bottom:0;
  padding:0;
  margin:0;
}

/* ------------------------ top_left ------------------------ */

.top_left {
  position:fixed;
  top:0;
  left:0;
  width:22%;
  padding:1.7vw;
  z-index:9999999;
}

/* ------------------------ NAV ------------------------ */

.top {
  position:fixed;
  margin:0;
  padding:0;
  letter-spacing:0;
  text-align:right;
  width:100%;
  top:2vw;
  right:3vw;
}

.top a {
  text-transform:uppercase;
  text-decoration:none;
  color:rgba(0,0,0,1);
  transition: .2s ease-in-out;
  padding:1vw;
  margin:0 0 0 1vw;
  letter-spacing: 1px;
  font-size: 11px;
  font-weight:500;
}

.top a:hover {
  color:rgba(0,0,0,.5);
}

.backtotop {
  position:fixed;
  right:4vw;
  bottom:4vw;
  text-align:right;
  font-size: 1.2vw;
  z-index:99999999;
}

hr {
  height:2.5vw;
  border:0px solid white;
}

.date {
  letter-spacing:.3pt;
  font-weight:500;
  font-size:.6em;
  opacity:.4;
  padding-left:2px;
  line-height:4;
}

.photos {
  width:100%;
  padding:0 17vw 0;
  margin:0 auto 11vw;
}

.photo {
  width:65vw;
  margin:0 auto 0;
  height:37vw;
  background-size:cover;
  background-position:center;
}

.label {
  margin:10vw 0 2.5vw;
}

.label a {
  border-bottom:1.5px solid;
}

table {
  padding:0;
  margin:0;
}

td {
  padding:0;
  margin:0;
  vertical-align:top;
}

td.title {
  width:22vw;
}

.secondary {
  opacity:.35;
}

.divider {
  height:2vw;
}


