@media screen and (max-width: 640px) {

@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700);


.panels {margin-top:100vw;}

.disappear {
  display:none;
}

.contact-mobile {
  display:inherit;
  width:100%;
  text-align:center;
  position:fixed;
  top:0;
  height:40px;
  padding:10px;
  z-index:999999999;
  background-color:black;
}

.nav {
display:none;
}

.name {
  top:45%;
}

.awards {margin-top:60vw;}

.section, .job-title {display:none;}

h1 {
  font-size: 2.5em;
  width:100%;
  margin:0;
  padding:10vw 0 5vw;
}

/* panel styles */
.panel {

/* min height incase content is higher than window height */
  min-height: 90vh;
}

.showcase {
  z-index:99999;
  width:80%;
  height:100vw;
  background-size:cover;
  background-position:center;
  background-attachment:no-repeat;
  padding:0;
}

.showcase:hover {
/*-  border-right:2px solid #ad9460;*/
padding-left:0;
}

.showcase-title-one-line {
top:45vw;
}

.showcase-title-two-lines {
top:40vw;
}

.showcase-title-three-lines {
top:36.5vw;
}

}