
@font-face {
    font-family: 'Monument Grotesk';
    src: url('https://www.marysoroka.com/font/MonumentGrotesk-Regular.woff2') format('woff2'),
        url('https://www.marysoroka.com/font/MonumentGrotesk-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
  box-sizing: border-box;
}

html, body {
  scroll-behavior: smooth;
  margin:0;
  padding:0;
  font-family: 'Monument Grotesk', sans-serif;
  overflow-x:hidden;
  scroll-behavior: smooth;
  line-height:1;
}

a {
  text-decoration:none;
  transition: .15s ease-in-out;
  color:rgba(0,0,0,1);
  padding:0;
  margin:0;
}

a:hover {
  color:rgba(0,0,0,.5);
  cursor:pointer;
}


.bold {
    font-family: 'Monument Grotesk Bold', sans-serif;
    font-weight:bold;
    line-height:0;
  }

/* ------------------------ NAV ------------------------ */

.nav {
  position:absolute;
  width:100%;
  height:auto;
  padding:1.4vw 0;
  margin:0;
  z-index:99999999;
  background-color:rgba(255,255,255,1);
  text-align:left;
  font-size:1vw;
}

.nav_col1, .nav_col2, .nav_col3, .nav_col4 {
  position:absolute;
  width:25%;
  padding:0 2vw 0;
  line-height:1.1;
}

.nav_col1 {
  left:0%;
}

.nav_col2 {
  left:25%;
}

.nav_col3 {
  left:50%;
}

.nav_col4 {
  left:75%;
  text-align:right;
}

/* ------------------------ CONTENT ------------------------ */

.content {
  position:absolute;
  width:100%;
  height:auto;
}

/* ------------------------ WELCOME ------------------------ */


.welcome {
  position: relative;
  top:8vw;
  left:0;
  height:auto;
  width:100%;
  padding:0 0 0 0;
  margin:0;
  z-index:99999;
  background-color:rgba(255,255,255,1);
  border-top:1px solid;
}

.welcome_img {
  position:relative;
  top:-10.55vw;
  left:25%;
  height:39.8vw;
  width:70.76%;
  padding:0;
  margin:2.1vw 0 -.2vw 2vw;
  background-color:black;
  background-image:url('https://www.marysoroka.com/images/bg/bg1.png');
  background-size:125%;
  background-position:center;
}

h1 {
  letter-spacing:-0.01em;
  font-weight:normal;
  font-size:7vw;
  margin:-5.5vw 0 0 0;
  padding:3.6vw 0 0 1.5vw;
  color:rgba(0,0,0,1);
  letter-spacing:-.025em;
  line-height:.9;
}

h2 {
  letter-spacing:-0.03em;
  font-weight:normal;
  font-size:2vw;
  margin:1.2vw 0 0;
  padding:0;
  color:rgba(0,0,0,1);
}

h3 {
  letter-spacing:-0.03em;
  font-weight:normal;
  font-size:2.5vw;
  margin:0;
  padding:0;
  color:rgba(0,0,0,.13);
}

p {
  padding:0;
  margin:0;
}

/* ------------------------ PROJECTS ------------------------ */

.video_container {
  position:absolute;
  padding:0;
  left:25%;
  top:0;
  width:70.76%;
  height:40.3vw;
  margin:2.1vw 0 0 2vw;
}

iframe {
  width:100%;
  height:100%;
  padding:0;
}

.project_wide {
  position: relative;
  width:100%;
  height:44.5vw;
  padding:0 2vw;
  margin:0;
  z-index:999999;
  border-top:1px solid;
}

.project_split {
  position: relative;
  left:0;
  width:50%;
  height:44.5vw;
  padding:0 2vw;
  margin:0;
  z-index:999999;
}













/* Add to CSS */
.parallax{position:fixed;inset:0;z-index:-1;overflow:hidden;pointer-events:none}
.parallax .layer{position:absolute;inset:-10vh;background-size:cover;background-position:center;opacity:.15;will-change:transform}
.parallax .l1{background-image:url('https://www.marysoroka.com/images/gif/cradle/cradle6.gif')}
.parallax .l2{background-image:url('https://www.marysoroka.com/images/gif/cradle/cradle6.gif')}
.parallax .l3{background-image:url('https://www.marysoroka.com/images/gif/cradle/cradle6.gif')}

