@media screen and (max-width: 640px) {

@import url('https://fonts.googleapis.com/css?family=DM+Sans:400,400i,500,500i,700,700i&display=swap');

.desktop-only {display:none;}
.mobile-only {display:visible;}

.name {
  top:40%;
}

.name h2, .nav h2 {
	letter-spacing:2pt;
	font-size:14px;
	text-transform:uppercase;
	line-height:1;
	padding:1.8vw;
	margin:0;
}

.nav {
  top:2vw;
  right:0;
  bottom:0;
  left:0;
  height:0;
  padding:.2vw;
  text-align:center;
}

h1 {
	font-size: 20vw;
}

.nav_left, .nav_right {
  font-size:14px;
}

  .nav_left {
  left:-80px;
}

.nav_right {
  right:-65px;
}

/* AWARDS_CONTIANER */

.awards {
	width:100%;
	z-index:1;
	margin:0;
	padding:0 8.4vw 0;
}

/* AWARDS_ROW */

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0;
}

/* AWARD_COLUMNS */

.column {
	-ms-flex: 100%; /* IE10 */
	flex: 100%;
	max-width: 100%;
	margin:0 auto 1vw;
	background-size:10vw;
	background-position: 100% 48%;
	height:18vw;
}

/* AWARD_TITLE */

h2 {
	font-size:4vw;
}

/* AWARD_COUNT */

h3 {
	font-size:2vw;
}

/* PROJECT_TITLE */

h4 {
	font-size:13vw;
	position:relative;
	top:0;
	left:0;
	padding:0 0 5vw;
	transition: .3s ease-in-out;
}

.thumb {
	width:100%;
	height:60vw;
}

.thumb, .thumb:hover {
	opacity:1;
	color:transparent;
}

li img {
	width:100%;
	height:auto;
}

.images {
	margin-bottom:20vw;
}

/* SCROLLBAR_WIDTH */
::-webkit-scrollbar {
	width: 3px;
	height: 3px;
}

/* SCROLLBAR_TRACK */
::-webkit-scrollbar-track {
	background: transparent;
}

/* SCROLLBAR_HANDLE */
::-webkit-scrollbar-thumb {
	background: rgba(252,223,205,.3); 
}

}