
@font-face {
    font-family: 'Monument Grotesk';
    src: url('https://www.marysoroka.com/font/MonumentGrotesk-Regular.woff2') format('woff2'),
        url('https://www.marysoroka.com/font/MonumentGrotesk-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
  box-sizing: border-box;
}

html, body {
  scroll-behavior: smooth;
  margin:0;
  padding:0;
  font-family: 'Monument Grotesk', sans-serif;
  overflow-x:hidden;
  scroll-behavior: smooth;
  line-height:1.12;
}

a {
  text-decoration:none;
  transition: .15s ease-in-out;
  color:rgba(0,0,0,1);
  padding:0;
  margin:0;
}

a:hover {
  color:rgba(0,0,0,.5);
  cursor:pointer;
}


.bold {
    font-family: 'Monument Grotesk Bold', sans-serif;
    font-weight:bold;
    line-height:0;
  }

/* ------------------------ NAV ------------------------ */


.nav_col1, .nav_col2, .nav_col3, .nav_col4 {
  position:fixed;
  top:1vw;
  width:25%;
  height:9.1vw;
  padding:0 4vw 0 2vw;
  margin:0;
  text-align:left;
  font-size:1vw;
  z-index:999999;
}

.nav_col1 {
  left:0%;
}

.nav_col2 {
  left:25%;
}

.nav_col3 {
  left:50%;
}

.nav_col4 {
  left:75%;
}

.nav_col4 a {
  margin-right:2vw;
}

/* ------------------------ WELCOME ------------------------ */


.welcome_left {
  position:fixed;
  top:11vw;
  left:0;
  height:43.25vw;
  width:100%;
  padding:0 0 0 1vw;
  margin:0;
  border-top:1px solid;
  border-bottom:1px solid;
  z-index:99999;
}

.welcome_right {
  position:fixed;
  top:11vw;
  left:50%;
  height:39vw;
  width:46%;
  padding:0;
  margin:2vw 0 0 2vw;
  background-color:black;
  background-image:url('https://www.marysoroka.com/images/2.jpg');
  background-size:cover;
  background-position:0 -120;
}

h1 {
  letter-spacing:-0.01em;
  font-weight:normal;
  font-size:16vw;
  padding:0;
  margin:-6.75vw 0 0;
  color:rgba(0,0,0,1);
  letter-spacing:-.025em;
  line-height:.9;
}


/* ------------------------ VIDEO ------------------------ */

* { box-sizing: border-box; }

.video-background {
  background-color:black;
  opacity:1;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -999999;
}

iframe {
  opacity:.65;
}

.video-foreground, .video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-color:black;
  }

@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}
