@font-face {
    font-family: 'Volte';
    src: url('Volte-Light.woff2') format('woff2'),
        url('Volte-Light.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Volte';
    src: url('Volte-Bold.woff2') format('woff2'),
        url('Volte-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Volte';
    src: url('Volte-Medium.woff2') format('woff2'),
        url('Volte-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Volte';
    src: url('Volte-Semibold.woff2') format('woff2'),
        url('Volte-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Volte';
    src: url('Volte.woff2') format('woff2'),
        url('Volte.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
  box-sizing: border-box;
}

/* ------------------------ BODY ------------------------ */

html, body {
	scroll-behavior: smooth;
	margin:0;
	padding:0;
	overflow-x:hidden;
	font-family: 'Volte', sans-serif;
	text-transform:none;
	font-size: calc(1.37vw + .5vw);
	font-weight:400;
	line-height:1.15;
	color:#ffffff;
  letter-spacing: -.5px;
}

.bottom_left a {
	text-decoration:none;
	color:rgba(255,255,255,.5);
  transition: .2s ease-in-out;
  padding:0 0 0.4vw;
  margin:0;
  border-bottom:.17vw solid;

}

.bottom_left a:hover {
	padding:0 0 0.4vw;
  margin:0;
	color:rgba(255,255,255,1);
  border-bottom:.17vw solid;
}

.keyframes {
	width:0;
}

::selection {
	background-color: rgba(0,0,0,0);
	color: rgba(0,0,0,.5);
}

/* ------------------------ top_left ------------------------ */

.top_left {
	position:fixed;
	top:0;
	left:0;
	width:10%;
 	padding:1.7vw;
}

/* ------------------------ bottom_left ------------------------ */

.bottom_left {
	  position:fixed;
		bottom:0;
		left:0;
		width:35%;
		font-weight:400;
	 	padding:1.7vw;
}

.fade {
	opacity:.5;
	  transition: .4s ease-in-out;
	  cursor:default;
}

.fade:hover {
	opacity:1;
}



.star {
	font-size:.25em;
	position:relative;
	top:-.8em;
}

/* ------------------------ top_right ------------------------ */

.top_right {
		  position:fixed;
	width:65vw;
	margin:0 0 0 .9vw;
	top:0.6vw;
	right:0;
	padding:0;
	text-align:right;
}

.top_right a {
	font-weight:500;
	text-transform:uppercase;
	text-decoration:none;
	color:rgba(255,255,255,.5);
  transition: .2s ease-in-out;
  padding:0 0 .7vw;
  margin:0 2vw 0 0;
  border:0;
  letter-spacing: 1px;
	font-size: calc(.4vw + .5vw);
  border-bottom:.13vw solid transparent;
}

.top_right a:hover {
  border-bottom:.13vw solid;
	color:rgba(255,255,255,1);
}


* { box-sizing: border-box; }
.video-background {
	background-color:black;
  opacity:1;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -999999;
}
iframe {
	opacity:.65;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-color:black;
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}