
@font-face {
    font-family: 'Monument Grotesk';
    src: url('https://www.marysoroka.com/font/MonumentGrotesk-Regular.woff2') format('woff2'),
        url('https://www.marysoroka.com/font/MonumentGrotesk-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
  box-sizing: border-box;
}

html, body {
  scroll-behavior: smooth;
  margin:0;
  padding:0;
  font-family: 'Monument Grotesk', sans-serif;
  overflow-x:hidden;
  scroll-behavior: smooth;
  line-height:1;
  color:rgba(0,0,0,1);
}

a {
  text-decoration:none;
  transition: .15s ease-in-out;
  color:rgba(0,0,0,1);
  padding:0;
  margin:0;
}

a:hover {
  color:rgba(0,0,0,.3);
  cursor:pointer;
}


.bold {
    font-family: 'Monument Grotesk Bold', sans-serif;
    font-weight:bold;
    line-height:0;
  }

  h1 {
  font-weight:normal;
  font-size:7vw;
  margin:-5.5vw 0 0 0;
  padding:3.6vw 0 0 1.5vw;
  color:rgba(0,0,0,1);
  letter-spacing:-.028em;
  line-height:.9;
}

h2 {
  letter-spacing:-0.03em;
  font-weight:normal;
  font-size:2vw;
  margin:1.2vw 0 0;
  padding:0;
  color:rgba(0,0,0,1);
}

h3 {
  letter-spacing:-0.03em;
  font-weight:normal;
  font-size:2vw;
  margin:0;
  padding:0;
  color:rgba(0,0,0,.3);
}

p {
  padding:0;
  margin:0;
}

/* ------------------------ NAV ------------------------ */

.nav {
  position:absolute;
  width:100%;
  height:auto;
  padding:1.4vw 0;
  margin:0;
  z-index:99999999;
  background-color:rgba(255,255,255,0);
  text-align:left;
  font-size:1vw;
}

.nav_col1, .nav_col2, .nav_col3, .nav_col4 {
  position:absolute;
  width:25%;
  padding:0 2vw 0;
  line-height:1.1;
}

.nav_col1 {
  left:0%;
}

.nav_col2 {
  left:25%;
}

.nav_col3 {
  left:50%;
}

.nav_col4 {
  left:75%;
  text-align:right;
}

/* ------------------------ CONTENT ------------------------ */

.content {
  position:absolute;
  width:100%;
  height:auto;
}

/* ------------------------ WELCOME ------------------------ */


.welcome {
  position: relative;
  top:8vw;
  left:0;
  height:auto;
  width:100%;
  padding:0 0 0 0;
  margin:0;
  z-index:99999;
  background-color:rgba(255,255,255,0);
  border-top:1px solid;

}

.welcome_img {
  position:relative;
  top:-10.55vw;
  left:25%;
  height:39.8vw;
  width:70.76%;
  padding:0;
  margin:2.1vw 0 -.2vw 2vw;
  background-color:black;
  background-image:url('images/me.jpg');
  background-size:125%;
  background-position:center;
}

.scroll {
  position:absolute;
  top:36.25vw;
  left:0;
  width:100%;
  padding:2vw;
  margin:0;
  color:red;
}

/* ------------------------ PROJECTS ------------------------ */

.video_container {
  position:absolute;
  padding:0;
  left:25%;
  top:0;
  width:70.76%;
  height:40.3vw;
  margin:2.1vw 0 0 2vw;
}

.video_container iframe {
  width:100%;
  height:100%;
  padding:0;
}

.project_wide {
  position: relative;
  width:100%;
  height:44.5vw;
  padding:0 2vw;
  margin:0;
  z-index:999999;
  border-top:1px solid;
}

.project_split {
  position: relative;
  left:0;
  width:50%;
  height:44.5vw;
  padding:0 2vw;
  margin:0;
  z-index:999999;
}


.footer {
  position: relative;
  width: 100%;
  height: 10vw;
  padding: 0;
  margin: 0;
  z-index: 999999;
  border-top: 1px solid;
  background-color: white;
  overflow: hidden;
  transition: background-color .3s ease;
}

.footer::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('https://hips.hearstapps.com/pop.h-cdn.co/assets/16/49/640x350/gallery-1481300544-nasagif10.gif');
  background-size: 125%;
  background-position: center;
  opacity: 0;
  transition: opacity .6s ease;
  pointer-events: none;
  z-index: 0;
}

.footer h1 {
  position: relative;
  z-index: 1;
  color: black;
  transition: color .3s ease;
}

.footer:hover {
  background-color: black;
}

.footer:hover::after {
  opacity: 1;
}

.footer:hover h1 {
  color: white;
}

/* ===== BACKGROUND CLUSTERS – 4 IMAGES PER CLUSTER ===== */
.bg-field{position:absolute;inset:0;z-index:-1;pointer-events:none}
.bg-cluster{position:absolute;left:0;top:0;transform:translate3d(0,var(--baseY,0px),0)}
.bg-cluster .tile{position:absolute;width:26vw;height:14.5vw;background-size:cover;background-position:center;will-change:transform;backface-visibility:hidden;contain:paint}

/* per-cluster anchor offsets (vh from viewport top) */
.bg-cluster[data-idx="0"]{--shiftVH:42;}
.bg-cluster[data-idx="1"]{--shiftVH:48;}
.bg-cluster[data-idx="2"]{--shiftVH:60;}
.bg-cluster[data-idx="3"]{--shiftVH:46;}

/* CLUSTER 1 – project1/bg1–bg4 */
.bg-cluster[data-idx="0"] .t1{left:10vw;top:80vh;background-image:url('images/bg/project1/bg1.png')}
.bg-cluster[data-idx="0"] .t2{left:18vw; top:60vh;background-image:url('images/bg/project1/bg2.png')}
.bg-cluster[data-idx="0"] .t3{left:58vw; top:98vh;background-image:url('images/bg/project1/bg7.png')}
.bg-cluster[data-idx="0"] .t4{left:92vw; top:74vh;background-image:url('images/bg/project1/bg8.png')}

/* CLUSTER 2 – project2/bg9–bg12 */
.bg-cluster[data-idx="1"] .t1{left:8vw; top:58vh;background-image:url('images/bg/project2/bg9.png')}
.bg-cluster[data-idx="1"] .t2{left:13vw; top:87vh;background-image:url('images/bg/project2/bg13.png')}
.bg-cluster[data-idx="1"] .t3{left:-15vw; top:70vh;background-image:url('images/bg/project2/bg10.png')}
.bg-cluster[data-idx="1"] .t4{left:88vw; top:82vh;background-image:url('images/bg/project2/bg14.png')}

/* CLUSTER 3 – project3/bg17–bg20 (bottom-left biased) */
.bg-cluster[data-idx="2"] .t1{left:12vw;top:70vh;background-image:url('images/bg/project3/bg24.png')}
.bg-cluster[data-idx="2"] .t2{left:8vw;   top:90vh;background-image:url('images/bg/project3/bg17.png')}
.bg-cluster[data-idx="2"] .t3{left:40vw;  top:112vh;background-image:url('images/bg/project3/bg19.png')}
.bg-cluster[data-idx="2"] .t4{left:78vw;  top:92vh;background-image:url('images/bg/project3/bg18.png')}

/* CLUSTER 4 – project4/bg25–bg28 (Manoir) */
.bg-cluster[data-idx="3"] .t1{left:6vw;   top:62vh;background-image:url('images/bg/project4/bg28.png')}
.bg-cluster[data-idx="3"] .t2{left:10vw;  top:80vh;background-image:url('images/bg/project4/bg25.png')}
.bg-cluster[data-idx="3"] .t3{left:88vw;  top:50vh;background-image:url('images/bg/project4/bg30.png')}
.bg-cluster[data-idx="3"] .t4{left:90vw;  top:88vh;background-image:url('images/bg/project4/bg26.png')}


/* CLUSTER 5 anchor */
.bg-cluster[data-idx="4"]{--shiftVH:48;}

/* CLUSTER 5 – project5/bg29–bg32 */
.bg-cluster[data-idx="4"] .t1{left:-5vw; top:61vh; background-image:url('images/bg/project5/bg32.png')}
.bg-cluster[data-idx="4"] .t2{left:9vw;  top:68vh; background-image:url('images/bg/project5/bg33.png')}
.bg-cluster[data-idx="4"] .t3{left:13vw;  top:86vh; background-image:url('images/bg/project5/bg31.png')}
.bg-cluster[data-idx="4"] .t4{left:90vw;  top:68vh; background-image:url('images/bg/project5/bg34.png')}




