@media screen and (max-width: 640px) {

@import url('https://fonts.googleapis.com/css?family=DM+Sans:400,400i,500,500i,700,700i&display=swap');

.desktop-only {display:none;}
.mobile-only {display:visible;}

.panels {margin-top:100vw;}

.name {
  top:45%;
}

h1 {
	font-size: 20vw;
}

.nav_left, .nav_right {
  font-size:14px;
}

  .nav_left {
  left:-80px;
}

.nav_right {
  right:-65px;
}

/* AWARDS_CONTIANER */

.awards {
	width:100%;
	z-index:1;
	margin:0;
	padding:0 8.4vw 0;
}

/* AWARDS_ROW */

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0;
}

/* AWARD_COLUMNS */

.column {
	-ms-flex: 100%; /* IE10 */
	flex: 100%;
	max-width: 100%;
	margin:0 auto 1vw;
	background-size:10vw;
	background-position: 100% 48%;
	height:18vw;
}

/* AWARD_TITLE */

h2 {
	font-size:4vw;
}

/* AWARD_COUNT */

h3 {
	font-size:2vw;
}

/* INDIVIDUAL_PROJECT */

.project_container {
	width:82vw;
	margin:0 auto 12vw;
}

/* PROJECT_TITLE */

h4 {
	font-size:13vw;
	position:relative;
	top:0;
	left:0;
	padding:0 0 5vw;
	transition: .3s ease-in-out;
}

.project_container:hover h4 {
	padding:0 0 5vw;
}

/* PROJECT_CONTENT */

.project_content {
	height:40vh;
}

.project_content li {
  display: inline;
  overflow-wrap:break-word;
  margin:0 2vw 0 0;
}

/* PROJECT_VIDEOS */

.project_content iframe {
	width:82vw;
	height:35vh;
}

/* PROJECT_IMAGES */

.project_content li img {
	width:82vw;
	height:30vh;
	margin:0;
	padding:0;
}

/* CONTACT_IMAGES */

.contact img {
	width:24vw;
}

/* SCROLLBAR_WIDTH */
::-webkit-scrollbar {
	width: 3px;
	height: 3px;
}

/* SCROLLBAR_TRACK */
::-webkit-scrollbar-track {
	background: transparent;
}

/* SCROLLBAR_HANDLE */
::-webkit-scrollbar-thumb {
	background: rgba(252,223,205,.3); 
}

}