
@font-face {
    font-family: 'Monument Grotesk';
    src: url('https://www.marysoroka.com/font/MonumentGrotesk-Regular.woff2') format('woff2'),
        url('https://www.marysoroka.com/font/MonumentGrotesk-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
  box-sizing: border-box;
}

html, body {
  scroll-behavior: smooth;
  margin:0;
  padding:0;
  font-family: 'Monument Grotesk', sans-serif;
  overflow-x:hidden;
  scroll-behavior: smooth;
  line-height:1;
  color:rgba(0,0,0,1);
}

a {
  text-decoration:none;
  transition: .15s ease-in-out;
  color:rgba(0,0,0,1);
  padding:0;
  margin:0;
  line-height:1;
  display:inline-flex;
  position:relative;
}

.nav_col3 a {
height:auto;
}

a:hover {
  color:rgba(0,0,0,.3);
  cursor:pointer;
}

.icon {
  position: relative;
  height:15px;
  width:15px;
  top:2.5;
  margin:0 .2vw 0 .2vw;
display:;}


.bold {
    font-family: 'Monument Grotesk Bold', sans-serif;
    font-weight:bold;
    line-height:0;
  }

  h1 {
  font-weight:normal;
  font-size:6vw;
  margin:-4.35vw 0 0 0;
  padding:3.6vw 0 0 1.5vw;
  color:rgba(0,0,0,1);
  letter-spacing:-.028em;
  line-height:.82;
}

h2 {
  letter-spacing:-0.03em;
  font-weight:normal;
  font-size:2vw;
  margin:1.2vw 0 0;
  padding:0;
  color:rgba(0,0,0,1);
}

h3 {
  letter-spacing:-0.03em;
  font-weight:normal;
  font-size:2vw;
  margin:0;
  padding:0;
  color:rgba(0,0,0,.1);
}

p {
  padding:0;
  margin:0;
}

/* ------------------------ NAV ------------------------ */

.nav {
  position:absolute;
  width:100%;
  height:auto;
  padding:1.4vw 0;
  margin:0;
  z-index:99999999;
  background-color:rgba(255,255,255,0);
  text-align:left;
  font-size:.85vw;
}

.nav_col1, .nav_col2, .nav_col3, .nav_col4 {
  position:absolute;
  width:25%;
  padding:0 2vw 0;
  line-height:1.37;
  letter-spacing:.02em;
}

#slash {margin-left:1vw;}

.nav_col1 {
  left:0%;
}

.nav_col2 {
  left:25%;
}

.nav_col3 {
  left:50%;
}

.nav_col4 {
  left:75%;
}

/* ------------------------ CONTENT ------------------------ */

.content {
  position:absolute;
  width:100%;
  height:auto;
  top:2vw;
}

/* ------------------------ WELCOME ------------------------ */


.welcome {
  position: relative;
  top:6.15vw;
  left:0;
  height:auto;
  width:100%;
  padding:0;
  margin:0 0 -16.5vw;
  z-index:99999;
  background-color:rgba(255,255,255,0);
  border-top:1px solid;
}

.welcome_img {
  position:relative;
  top:-24.9vw;
  left:25%;
  height:39.8vw;
  width:70.76%;
  padding:0;
  margin:3.1vw 0 0vw 2vw;
  background-color:black;
  background-image:url('http://mary-soroka.github.io/images/me2.png');
  background-size:cover;
  background-size:100%;
  background-position:center;
}

.scroll {
  position:absolute;
  top:36.1vw;
  left:0;
  width:100%;
  padding:2vw;
  margin:0;
  color:red;
}

/* ------------------------ PROJECTS ------------------------ */

.video_container {
  position:absolute;
  padding:0 0 .5vw 0;
  left:25%;
  top:.2vw;
  width:70.76%;
  height:40.3vw;
  margin:2.1vw 0 0 2vw;
}

.video_row {
  margin:5vw 0 0;
}

.video_container_narrow {
  position:relative;
  display:inline-block;
  padding:0;
  left:25%;
  top:-8vw;
  width:22vw;
  height:40.3vw;
  margin:0 1.15vw 0 1vw;
  background-color:black;
  background-position:center;
  background-size:cover;
}

.video_container iframe {
  width:100%;
  height:100%;
  padding:0;
}

.project_wide {
  position: relative;
  width:100%;
  height:44.5vw;
  padding:0 2vw;
  margin:0;
  z-index:999999;
  border-top:1px solid;
}

.project_split {
  position: relative;
  left:0;
  width:50%;
  height:44.5vw;
  padding:0 2vw;
  margin:0;
  z-index:999999;
}


/*.footer {
  position: fixed;
  bottom:0;
  width: 100%;
  height: 5.5vw;
  padding: .5vw 0 0;
  margin: 0;
  z-index: 999999;
  border-top: 1px solid;
  background-color: white;
  overflow: hidden;
  transition: background-color .3s ease;
}*/

.footer h1 {
  position: relative;
  z-index: 13;
  color: black;
  transition: color .3s ease;
  font-size:3.48vw;
}

.footer:hover {
  background-color: black;
  border-top:1px solid white;
}

.footer:hover::after {
  opacity: 1;
}

.footer:hover h1 {
  color: white;
}










/* ===== BACKGROUND CLUSTERS – 4 IMAGES PER CLUSTER ===== */
.bg-field {
  position: absolute;
  inset: 0;
  z-index: -1;
  pointer-events: none;
}

.bg-cluster {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate3d(0, var(--baseY, 0px), 0);
}

.bg-cluster .tile {
  position: absolute;
  width: 26vw;
  height: 14.5vw;
  background-size: cover;
  background-position: center;
  will-change: transform;
  backface-visibility: hidden;
  contain: paint;
}

/* ===== PER-CLUSTER ANCHORS ===== */
.bg-cluster[data-idx="0"] { --shiftVH: 42; }
.bg-cluster[data-idx="1"] { --shiftVH: 48; }
.bg-cluster[data-idx="2"] { --shiftVH: 60; }
.bg-cluster[data-idx="3"] { --shiftVH: 46; }
.bg-cluster[data-idx="4"] { --shiftVH: 48; }
.bg-cluster[data-idx="5"] { --shiftVH: 58; }
.bg-cluster[data-idx="6"] { --shiftVH: 50; }

/* ===== CLUSTER 1 – project4/bg25–bg28 (Self) SELF PORTRAIT ===== */
.bg-cluster[data-idx="0"] .t1 { left: 6vw; top: 62vh; background-image: url('http://mary-soroka.github.io/images/art/storm.png'); }
.bg-cluster[data-idx="0"] .t2 { left: 10vw; top: 80vh; background-image: url('http://mary-soroka.github.io/images/art/sand.png'); }
.bg-cluster[data-idx="0"] .t3 { left: 88vw; top: 50vh; background-image: url('http://mary-soroka.github.io/images/art/marysoroka_art24.png'); }
.bg-cluster[data-idx="0"] .t4 { left: 33.65vw; top: 70vh; background-image: url('http://mary-soroka.github.io/images/art/rocks.png'); }

/* ===== CLUSTER 2 – project2/bg9–bg12 ===== CRADLE */
.bg-cluster[data-idx="1"] .t1 { left: 8vw; top: 58vh; background-image: url('http://mary-soroka.github.io/images/bg/project2/bg9.png'); }
.bg-cluster[data-idx="1"] .t2 { left: 13vw; top: 85.5vh; background-image: url('http://mary-soroka.github.io/images/bg/project2/bg13.png'); }
.bg-cluster[data-idx="1"] .t3 { left: -15vw; top: 70vh; background-image: url('http://mary-soroka.github.io/images/bg/project2/bg10.png'); }
.bg-cluster[data-idx="1"] .t4 { left: 88vw; top: 82vh; background-image: url('http://mary-soroka.github.io/images/bg/project2/bg14.png'); }

/* ===== CLUSTER 6 – project6 (storm) ===== CANTICLE */
.bg-cluster[data-idx="2"] .t1 { left: 9vw; top: 72vh; background-image: url('http://mary-soroka.github.io/images/art/lens.png'); }
.bg-cluster[data-idx="2"] .t2 { left: -12vw; top: 86vh; background-image: url('http://mary-soroka.github.io/images/art/hand2.png'); }
.bg-cluster[data-idx="2"] .t3 { left: 20vw; top: 92vh; background-image: url('http://mary-soroka.github.io/images/art/mountain.png'); }
.bg-cluster[data-idx="2"] .t4 { left: 90vw; top: 74vh; background-image: url('http://mary-soroka.github.io/images/art/sand2.png'); }

/* ===== CLUSTER 3 – project3/bg17–bg20 ===== JAPAN */
.bg-cluster[data-idx="5"] .t1 { left: 12vw; top: 70vh; background-image: url('http://mary-soroka.github.io/images/bg/project3/bg24.png'); }
.bg-cluster[data-idx="5"] .t2 { left: 8vw; top: 90vh; background-image: url('http://mary-soroka.github.io/images/bg/project3/bg17.png'); }
.bg-cluster[data-idx="5"] .t3 { left: 50vw; top: 90vh; background-image: url('http://mary-soroka.github.io/images/bg/project3/bg19.png'); }
.bg-cluster[data-idx="5"] .t4 { left: 78vw; top: 92vh; background-image: url('http://mary-soroka.github.io/images/bg/project3/bg18.png'); }

/* ===== CLUSTER 4 – project1/bg1–bg4 ===== UPSIDE DOWN */
.bg-cluster[data-idx="4"] .t1 { left: 10vw; top: 80vh; background-image: url('http://mary-soroka.github.io/images/bg/project1/bg1.png'); }
.bg-cluster[data-idx="4"] .t2 { left: 18vw; top: 60vh; background-image: url('http://mary-soroka.github.io/images/bg/project1/bg4.png'); }
.bg-cluster[data-idx="4"] .t3 { left: 80vw; top: 40vh; background-image: url('http://mary-soroka.github.io/images/bg/project1/bg6.png'); }
.bg-cluster[data-idx="4"] .t4 { left: 85vw; top: 74vh; background-image: url('http://mary-soroka.github.io/images/bg/project1/bg7.png'); }

/* ===== CLUSTER 5 – project5/bg29–bg32 ===== MEMORY BROKER */
.bg-cluster[data-idx="3"] .t1 { left: -5vw; top: 58vh; background-image: url('http://mary-soroka.github.io/images/bg/project5/bg32.png'); }
.bg-cluster[data-idx="3"] .t2 { left: 9vw; top: 64vh; background-image: url('http://mary-soroka.github.io/images/bg/project5/bg33.png'); }
.bg-cluster[data-idx="3"] .t3 { left: 13vw; top: 82vh; background-image: url('http://mary-soroka.github.io/images/bg/project5/bg31.png'); }
.bg-cluster[data-idx="3"] .t4 { left: 90vw; top: 64vh; background-image: url('http://mary-soroka.github.io/images/bg/project5/bg34.png'); }


/* ===== CLUSTER 7 – project7 (storm) ===== MINER */
.bg-cluster[data-idx="6"] .t1 { left: 10vw; top: 62vh; background-image: url('http://mary-soroka.github.io/images/art/red.png'); }
.bg-cluster[data-idx="6"] .t2 { left: 2vw; top: 84vh; background-image: url('http://mary-soroka.github.io/images/art/figures.png'); }
.bg-cluster[data-idx="6"] .t3 { left: 70vw; top: 90vh; background-image: url('http://mary-soroka.github.io/images/art/cave2.png'); }
.bg-cluster[data-idx="6"] .t4 { left: 96vw; top: 68vh; background-image: url('http://mary-soroka.github.io/images/art/cyborg.png'); }

.bg-cluster[data-idx="7"]{--shiftVH:54;}
.bg-cluster[data-idx="7"] .t1{left:-12vw;top:78vh;background-image:url('http://mary-soroka.github.io/images/art/red.png')}
.bg-cluster[data-idx="7"] .t2{left:10vw; top:66vh;background-image:url('http://mary-soroka.github.io/images/art/red.png')}
.bg-cluster[data-idx="7"] .t3{left:22vw; top:92vh;background-image:url('http://mary-soroka.github.io/images/art/red.png')}
.bg-cluster[data-idx="7"] .t4{left:92vw; top:72vh;background-image:url('http://mary-soroka.github.io/images/art/red.png')}