/* video */

* {
  box-sizing: border-box;
}

.video {
  z-index:2;
  top:-100;
  padding:0;
  margin:0;
  width:100vw;
  height: 100vh;
  pointer-events: none;
}

.vimeo-wrapper {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
   pointer-events: none;
   overflow: hidden;
  background-color: black;
  margin:0 auto;
  text-align:center;
}
.vimeo-wrapper iframe {
   width: 330vw;
   height: 150vh;
   position: absolute;
   top: 50%;
   transform: translate(-50%, -50%);
}