@import url('https://fonts.googleapis.com/css?family=DM+Sans:400,400i,500,500i,700,700i&display=swap');
@font-face {
    font-family: 'mordovaregular';
    src: url('mordova-webfont.woff2') format('woff2'),
         url('mordova-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
  box-sizing: border-box;
}

html, body {
  scroll-behavior: smooth;
  margin:0;
  padding:0;
}

body {
  /*background-color:rgba(252,223,205,1);*/
  font-family: 'DM Sans', sans-serif;
  overflow-x:hidden;
  font-weight:normal;
  letter-spacing:.02pt;
  scroll-behavior: smooth;
}

a {
  text-decoration:none;
  color:rgba(0,0,0,1);
  transition: .3s ease-in-out;
  font-weight:500;
}

a:hover {
  color:grey;
  border-bottom:1.5px solid;
}

/* NAME_CONTAINER */

.name {
  width:100%;
  position:absolute;
  top:3.2vw;
  text-align:center;
  padding:0;
  margin:0;
  z-index:0;
}

/* NAME */

h1 {
  font-family:'mordovaregular', 'DM Sans', sans-serif;
  font-size: 5.5vw;
  font-weight:400;
  letter-spacing:0;
  text-transform:lowercase;
  line-height:1.2;
  margin:0;
  padding:0 1.9vw 8vw;
}

.nav_left, .nav_right {
  position:fixed;
  top:50%;
  height:0;
  width:200px;
  padding:5px;
  margin:0;
  z-index:99999999;
  opacity:1;
  transition: .3s ease-in-out;
  transform: rotate(-90deg);
  text-align:center;
  font-size:1em;
}

.nav_left {
  left:-60px;
}

.nav_right {
  right:-45px;
}

.nav_left a:hover, .nav_right a:hover {
  color:grey;
  border-bottom:0;
}

.prompt {
  left:50%;
  font-size:14px;
  position:fixed;
  bottom:2vw;
  padding:5px;
  z-index:99999999;
}

hr {
  height:2.5vw;
  border:0px solid white;
}

h2 {
  letter-spacing:.3pt;
  font-weight:400;
  font-size:1em;
  padding:0;
  margin:0;
}

h3 {
  letter-spacing:.3pt;
  font-weight:400;
  font-size:.8em;
  line-height:1.6;
}

.date {
  letter-spacing:.3pt;
  font-weight:400;
  font-size:.5em;
  line-height:1.6;
  opacity:.4;
  padding-left:2px;
  line-height:4;
}

.photos {
  width:100%;
  padding:13vw 17vw 0;
  margin:0 auto 11vw;
}

.photo {
  width:65vw;
  margin:0 auto 0;
  height:37vw;
  background-size:cover;
  background-position:center;
}

.label {
  margin:10vw 0 2.5vw;
}

.label a {
  border-bottom:1.5px solid;
}

table {
  padding:0;
  margin:0;
}

td {
  padding:0;
  margin:0;
  vertical-align:top;
}

td.title {
  width:20vw;
}

.secondary {
  opacity:.35;
}

.divider {
  height:2vw;
}

/* --------------------------- SCROLLBAR */


/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255,255,255,1);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:rgba(0,0,0,1);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white; 
}

@media screen and (max-width: 640px) {

.nav_left, .nav_right {
  font-size:14px;
}

  .nav_left {
  left:-80px;
}

.nav_right {
  right:-65px;
}

}