.project[data-key="silk"] {
  padding-bottom: 2vw;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

#backToTop {
  position: relative;
  padding: 2vw 0;
  text-align: center;
  background: transparent;
}

#backToTop h2 {
  color: rgba(0,0,0,0.3);
  transition: color .2s;
  cursor: pointer;
}

#backToTop h2:hover { color: #000; }

#backToTop .btp-overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  background: rgba(255,255,255,.001);
  -webkit-mask-image: linear-gradient(to bottom, transparent 0, black 65%);
  mask-image: linear-gradient(to bottom, transparent 0, black 65%);
  transition: backdrop-filter .2s, background .2s;
}