.panels {
	z-index:1;
}

/* BLANK */
.color-1 {background-color: black;}

/* VIRGIN MOBILE */
.color-2 {background-color: #0b0c11;}

/* BELL X STAR WARS */
.color-3 {background-color: #2f3334;}

/* FERRERO ROCHER */
.color-4 {background-color: #0e0c0d;}

/* YOU DON'T OWN ME */
.color-15 {background-color: #0d1222;}

/* TD VISA INFINITE */
.color-7 {background-color: #3c251f;}

/* SPECIAL K */
.color-5 {background-color: #83533a;}

/* LEO BURNETT */
.color-11 {background-color: #04206a;}

/* OHIP+ */
.color-8 {background-color: #3b5b6b;}

/* METROLINX */
.color-17 {background-color: #1f2e31;}

/* TD DIGITAL */
.color-9 {background-color: #121214;}

/* IKEA MOVING DAY */
.color-13 {background-color: #c1bfba;}

/* LOVER LETTER TO JAPAN */
.color-14 {background-color: #0d162a;}

/* JIF */
.color-10 {background-color: #695f66;}

/* AD AGE */
.color-12 {background-color: #0b0e16;}

/* TD INSURANCE */
.color-16 {background-color: #221611;}