.panels {
	z-index:1;
}

/* BLANK */
.color-1 {background-color: black;}

/* VIRGIN MOBILE */
.color-2 {background-color: #0b0c11;}

/* BELL X STAR WARS */
.color-3 {background-color: #2f3334;}

/* FERRERO ROCHER */
.color-4 {background-color: #0e0c0d;}

/* TD VISA INFINITE */
.color-7 {background-color: #3c251f;}

/* SLEEPS */
.color-5 {background-color: #1b1a1e;}

/* LEO BURNETT */
.color-11 {background-color: #04206a;}

/* METROLINX */
.color-17 {background-color: #1f2e31;}

/* IKEA */
.color-13 {background-color: #c1bfba;}

/* TD INSURANCE */
.color-16 {background-color: #221611;}