
@font-face {
    font-family: 'Monument Grotesk';
    src: url('https://www.marysoroka.com/font/MonumentGrotesk-Regular.woff2') format('woff2'),
        url('https://www.marysoroka.com/font/MonumentGrotesk-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
  box-sizing: border-box;
}

html, body {
  scroll-behavior: smooth;
  margin:0;
  padding:0;
  font-family: 'Monument Grotesk', sans-serif;
  overflow-x:hidden;
  scroll-behavior: smooth;
  line-height:1;
}

a {
  text-decoration:none;
  transition: .15s ease-in-out;
  color:rgba(0,0,0,1);
  padding:0;
  margin:0;
}

a:hover {
  color:rgba(0,0,0,.5);
  cursor:pointer;
}

/* ------------------------ NAV ------------------------ */

.top_left_nav {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  padding:0;
  margin:0;
  z-index:9999999;
  text-align:left;
  height:32px;
  font-size:16px;
  letter-spacing:-0.01em;
  padding:0;
  margin:0 0 0 16px;
}

.top_right_nav {
  position:fixed;
  top:0;
  right:0;

  width:100%;
  padding:0;
  margin:0;
  border:1px solid;
  z-index:9999999;
  text-align:right;
  height:32px;
}

.top_right_nav a {
  font-size:16px;
  letter-spacing:-0.01em;
  padding:0;
  margin:0 16px 0 0;
}

/* ------------------------ WELCOME ------------------------ */


.welcome {
  position:fixed;
  top:0;
  left:0;
  height:30vw;
  width:100%;
  padding:8vw 0 0 8px;
  z-index:999999;
}

h1 {
  letter-spacing:-0.01em;
  font-weight:300;
  font-size:100px;
  z-index:99999999;
  padding:0;
  margin:0;
  color:rgba(0,0,0,1);
  letter-spacing:-.02em;
  line-height:.8;
}


/* ------------------------ VIDEO ------------------------ */

* { box-sizing: border-box; }

.video-background {
  background-color:black;
  opacity:1;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -999999;
}

iframe {
  opacity:.65;
}

.video-foreground, .video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-color:black;
  }

@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}
