.panels {
	z-index:1;
}

/* panel styles */
.panel {

/* min height incase content is higher than window height */
	min-height: 90vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

/* BLANK */
.color-1 {background-color: #f9f9f9;}

/* VIRGIN MOBILE */
.color-2 {background-color: #0e1219;}

/* BELL X STAR WARS */
.color-3 {background-color: #2f3334;}

/* FERRERO ROCHER */
.color-4 {background-color: #2c2219;}

/* YOU DON'T OWN ME */
.color-15 {background-color: #4e1019;}

/* TD VISA INFINITE */
.color-7 {background-color: #1b2a32;}

/* SPECIAL K */
.color-5 {background-color: #83533a;}

/* LEO BURNETT */
.color-11 {background-color: #04206a;}

/* OHIP+ */
.color-8 {background-color: #3b5b6b;}

/* TD DIGITAL */
.color-9 {background-color: #121214;}

/* IKEA MOVING DAY */
.color-13 {background-color: #bab7b1;}

/* LOVER LETTER TO JAPAN */
.color-14 {background-color: #0d162a;}

/* JIF */
.color-10 {background-color: #695f66;}

/* AD AGE */
.color-12 {background-color: #0b0e16;}

/* TD INSURANCE */
.color-16 {background-color: #3e332a;}

.showcase {
z-index:99999;
width:75%;
height:40vw;
background-size:100%;
/*-  border-right:2px solid transparent;*/
padding-left:0;
transition: .3s ease-in-out;
}

.showcase:hover {
/*-  border-right:2px solid #ad9460;*/
padding-left:10px;
}

.showcase img {
z-index:99999;
width:100%;
height:auto;
}

.showcase-text {
z-index:99999;
width:60vw;
}

.showcase-title-one-line, .showcase-title-two-lines, .showcase-title-three-lines {
z-index:99999;
font-size: 9vw;
font-weight:700;
letter-spacing:-.02em;
line-height:1.05;
position:relative;
top:15vw;
left:-3.5vw;
}

.showcase-title-one-line, {
top:15vw;
left:-3.5vw;
}

.showcase-title-two-lines {
top:10vw;
left:-3.5vw;
}

.showcase-title-three-lines {
top:6vw;
left:-3.5vw;
}