@font-face {
    font-family: 'Volte';
    src: url('Volte-Light.woff2') format('woff2'),
        url('Volte-Light.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Volte';
    src: url('Volte-Bold.woff2') format('woff2'),
        url('Volte-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Volte';
    src: url('Volte-Medium.woff2') format('woff2'),
        url('Volte-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Volte';
    src: url('Volte-Semibold.woff2') format('woff2'),
        url('Volte-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Volte';
    src: url('Volte.woff2') format('woff2'),
        url('Volte.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
  box-sizing: border-box;
}

html, body {
  scroll-behavior: smooth;
  margin:0;
  padding:0;
}

body {
  /*background-color:rgba(252,223,205,1);*/
  font-family: 'Volte', sans-serif;
  overflow-x:hidden;
  letter-spacing:.02pt;
  scroll-behavior: smooth;
}

a {
  text-decoration:none;
  color:rgba(0,0,0,1);
  transition: .1s ease-in-out;
  font-weight:600;
}

a:hover {
  color:grey;
  border-bottom:1.5px solid;
}

/* NAME_CONTAINER */

.name {
  width:100%;
  position:absolute;
  top:12vw;
  text-align:center;
  padding:0;
  margin:0;
  z-index:1;
  height:50px;
}

/* NAME */

h1 {
  font-family:'Volte', sans-serif;
  font-size: 5.8vw;
  font-weight:700;
  letter-spacing:-1.5;
  text-transform:lowercase;
  line-height:1.2;
  margin:0;
  padding:0 1.9vw 8vw;
  border-bottom:0;
}

h2 {
  letter-spacing:.1pt;
  font-weight:600;
  font-size:1.3em;
  padding:0;
  margin:0;
}

h3 {
  letter-spacing:.3pt;
  font-weight:500;
  font-size:.8em;
  padding:3px;
  margin:0;
  line-height:1.5;
}

h5 {
  letter-spacing:.3pt;
  font-weight:500;
  font-size:.2em;
  opacity:.4;
  padding:0 0 1vw;
  margin:0;
}

h4 {
  letter-spacing:.3pt;
  font-weight:500;
  font-size:.1em;
  z-index:99999999;
  padding:0 0 .5vw;
  margin:0;
}

h6 {
  font-size:2vw;
  font-weight:500;
  letter-spacing:0;
  line-height:1.5;
  margin:0;
  width:90%;
}

.quick {
  width:100%;
  padding:12vw 13.5vw 0 17vw;
  margin:0 auto 0;
}

.quick a {
  border:0;
  font-weight:500;
}

.quick a:hover {
  border:0;
}

.quick table {
  width:100%;
  padding:0;
  margin:0;
  border-collapse:0;
  line-height:1.2;
}

 .quick td {
  width:10.9%;
  padding-bottom:2vw;
}

.name a:hover {
  border-bottom:0;
}

button {
  font-family: 'Volte', sans-serif;
  font-weight: 500;
  height: 100%;
  background-color: transparent;
  border: 0;
  color: black;
  opacity: 1;
  transition: .2s ease-in-out;
  padding: 1vw;
  margin: 0;
  font-size: 1.45vw;
}

a:hover, button:hover {
  cursor: pointer;
  opacity: .5;
}

.nav_top_left a, .nav_top_right a, .nav_bottom_left a, .nav_bottom_right a {
  transition: .2s ease-in-out;
  padding-bottom:2px;
  border-bottom:3px solid transparent;
}

.nav_top_right a {
  margin-left:2.5vw;
}

/* NAV_LINKS */

.nav_top_left, .nav_top_right, .nav_bottom_left, .nav_bottom_right {
  position:fixed;
  z-index:99999999;
  padding: 0;
  margin: 0;
}

.nav_top_left {
  top:4vw;
  left:4vw;
  text-align:left;
  font-size: 3vw;
  font-weight: 500;
}

.nav_top_right {
  top:4vw;
  right:3vw;
  text-align:right;
}

.nav_bottom_left {
  bottom:4vw;
  left:4vw;
  text-align:left;
  font-size: .8vw;
  letter-spacing: 1px;
  line-height: 1.5;
}

.nav_bottom_right {
  bottom:4vw;
  right:4vw;
  text-align:right;
  font-size: 1.2vw;
  z-index: 9999;
}

.nav_bottom_left a:hover, .nav_top_left a:hover, .nav_top_right a:hover, .nav_bottom_right a:hover {
  border-bottom:3px solid;
}

.backtotop {
  position:fixed;
  right:4vw;
  bottom:4vw;
  text-align:right;
  font-size: 1.2vw;
  z-index:99999999;
}

hr {
  height:2.5vw;
  border:0px solid white;
}

.date {
  letter-spacing:.3pt;
  font-weight:500;
  font-size:.6em;
  opacity:.4;
  padding-left:2px;
  line-height:4;
}

.photos {
  width:100%;
  padding:0 17vw 0;
  margin:0 auto 11vw;
}

.photo {
  width:65vw;
  margin:0 auto 0;
  height:37vw;
  background-size:cover;
  background-position:center;
}

.label {
  margin:10vw 0 2.5vw;
}

.label a {
  border-bottom:1.5px solid;
}

table {
  padding:0;
  margin:0;
}

td {
  padding:0;
  margin:0;
  vertical-align:top;
}

td.title {
  width:20vw;
}

.secondary {
  opacity:.35;
}

.divider {
  height:2vw;
}

/* --------------------------- SCROLLBAR */


/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255,255,255,1);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:rgba(0,0,0,1);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white; 
}






























@media screen and (max-width: 640px) {

.nav_left, .nav_right {
  font-size:14px;
}

  .nav_left {
  left:-85px;
}

.nav_right {
  right:-70px;
}

.label {
	margin-bottom:5vw;
}

h2 {
	font-size:12px;
	font-weight:500;
}

h3 {
	font-size:10px;
	line-height:1.3;
}

td.title {
  width:30vw;
}

.photos {
  width:100%;
  padding:0 10vw 0;
  margin:25vw auto 11vw;
}

.photo {
  width:80vw;
  margin:0 auto 0;
  height:45vw;
  background-size:cover;
  background-position:center;
}

.quick {
	display:none;
}

/* NAME_CONTAINER */

.name {
  width:100%;
  position:absolute;
  top:5vw;
  text-align:center;
  padding:0;
  margin:0;
  z-index:1;
  height:100px;
}

/* NAME */

h1 {
  font-size: 12vw;
  font-weight:500;
  letter-spacing:0;
  text-transform:lowercase;
  line-height:1.2;
  margin:0;
  padding:0 1.9vw 8vw;
  border-bottom:0;
}

h4 {
	font-size:14px;
}

.backtotop {
  position:fixed;
  right:auto;
  bottom:0;
  padding-top:10px;
  width:100%;
  height:40px;
  background-color:white;
  text-align:center;
  z-index:99999999;
}

}