@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700);

.panels {
  z-index:5;
}

/* panel styles */
.panel {
  z-index:4;
  /* min height incase content is higher than window height */
  min-height: 90vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* intro */
.color-0 {
  z-index:1000;
  background-color: #063189;
}

/* intro */
.color-1 {
  background-color: black;
}

/* virgin mobile */
.color-2 {
  background-color: #ce001d;
}

/* bell x star wars */
.color-3 {
  background-color: #404f4d;
}

/* ferrero rocher */
.color-4 {
  background-color: #130c0c;
}

/* special k */
.color-5 {
  background-color: #83533a;
}

/* PANEL 6 - BRANDS
.color-6 {
  background-color: #c3b9ae;
}*/

/* td visa infinite */
.color-7 {
  background-color: #c3b9ae;
}

/* ohip */
.color-8 {
  background-color: #3b5b6b;
}

/* td digital */
.color-9 {
  background-color: #121214;
}

/* jif */
.color-10 {
  background-color: #695f66;
}

/* unplug + play */
.color-11 {
  background-color: #04206a;
}

/* ad age */
.color-12 {
  background-color: #0b0e16;
}

/* ikea moving day */
.color-13 {
  background-color: #bab7b1;
}

/* japan */
.color-14 {
  background-color: #0d162a;
}




.showcase {
  z-index:99999;
  width:75%;
  height:40vw;
  background-size:100%;
 /*-  border-right:2px solid transparent;*/
  padding-left:0;
  transition: .3s ease-in-out;
}

.showcase:hover {
 /*-  border-right:2px solid #ad9460;*/
  padding-left:10px;
}

.showcase img {
  z-index:99999;
  width:100%;
  height:auto;
}

.showcase-text {
  z-index:99999;
  width:60vw;
  color:#ad9460;
}

.showcase-title-one-line {
  z-index:99999;
  font-size: 9vw;
  font-weight:700;
  letter-spacing:-.02em;
  line-height:1.05;
  position:relative;
  top:15vw;
  left:-3.5vw;
}

.showcase-title-two-lines {
  z-index:99999;
  font-size: 9vw;
  font-weight:700;
  letter-spacing:-.02em;
  line-height:1.05;
  position:relative;
  top:10vw;
  left:-3.5vw;
}

.showcase-title-three-lines {
  z-index:99999;
  font-size: 9vw;
  font-weight:700;
  letter-spacing:-.02em;
  line-height:1.05;
  position:relative;
  top:6vw;
  left:-3.5vw;
}

.showcase-subhead {
  z-index:99999;
  font-size: 1.2vw;
  font-weight:400;
  letter-spacing:.06em;
  line-height:1.05;
  position:relative;
  top:16.5vw;
  right:-72vw;
}
