/* font */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


/* universal */

body {
	font-family: 'Montserrat', sans serif;
	font-weight:700;
	text-align: left;
	-webkit-font-smoothing: antialiased;
	padding:0;
	margin:0;
}

a {
	transition: all .1s ease-out;
	text-decoration: none;
}


/* header */

.header {
	top:0;
	position:fixed;
	width:100%;
	background-color:white;
	z-index: 999;
	padding:3vw 0;
}

.buttons {
	float:right;
	margin-right:3vw;
	font-size:.7em;
	font-weight:400;
	letter-spacing:2px;
	text-transform:uppercase;
}

.header a {
	color:black;
	padding:1.5vw;
	margin:0;
}

.header a:hover {
	color:lightgrey;
}

.on {
	padding-bottom:.7em;
	border-bottom:1px solid #f0f0f0;
}

/* intro */

.intro {
	font-size:2em;
	letter-spacing:-.01em;
	line-height:1.4;
	padding:7vw 10vw 0;
	margin:0;
}

.intro a {
	color:lightgrey;
}

.intro a:hover {
	color:black;
}

h1 {
	margin:0;
	font-size:4.6em;
	letter-spacing:-.03em;
	padding-top:2vw;
	padding-bottom:2vw;
}

h2 {
	font-size:2.3em;
	letter-spacing:-.03em;
	line-height:1;
}

/* awards */

.awards {
	padding-left:.15em;
	margin-bottom:10vw;
}

.award {
	margin-top:2.5vw;
	padding-bottom:3vw;
	border-bottom:1px solid #f0f0f0;
}

.award-color {
	font-weight:400;
}

.award-category {
	color:grey;
	font-size:.8em;
	font-weight:400;
	margin-top:1vw;
	line-height:1.2;
	letter-spacing:.005em;
}

/* brands */

.brands {

	margin-top:7em;
	margin-bottom:2em;
	margin-right:4em;
}

img.brand {
	padding:2em;
	border:0;
	border-radius:0;
	background-color:#fafafa;
}

.logos {
	display: table;
	width: 100%;

}
.logos span {
  display: table-cell;
  width: auto;
  padding:1em 3em;
}
.logos span img {
  vertical-align: top;
  width: 100%;
}


/* work */


.work {
	margin-top:7em;
}

img.project {
	border:0;
	background-color:#f0f0f0;
}

.projects {
	display: table;
	width: 100%;

}
.projects span {
  display: table-cell;
  width: auto;
  padding:0;
}
.projects span img {
  vertical-align: top;
  width: 100%;
}

.container {
  position: relative;
  display: table-cell;
  background-color:black;
}

.thumbnail-container {
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}

.container:hover .overlay {
  opacity: .9;
}

.text {
  color: black;
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* project page */

.project-description {
	margin:0;
	padding-bottom:6vw;
	font-weight:400;
}

.project-credits {
	margin:0;
	padding:7vw 10vw 0;
	color:grey;
	font-size:.8em;
	font-weight:400;
	line-height:1.6;
	letter-spacing:.005em;
}

.back-button {
	padding:0 6vw 6vw;
	float:right;
}

.back-button a {
	color:lightgrey;
	font-size:1em;
	font-weight:400;
	letter-spacing:2px;
	text-transform:uppercase;
}

.back-button a:hover {
	color:black;
}

.project-video {
	background-color:black;
	padding:56% 0 0;
	position:relative;
	margin-bottom:2vw;
}

