




/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- BODY */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */





/* font */

@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700);

/* universal */

body {
	background-color:white;
	font-family: 'Montserrat', Sans-Serif;
	font-weight:700;
	-webkit-font-smoothing: antialiased;
	padding:0;
	margin:0;
	background-height:100%;
}

/* links */

a {
	text-decoration: none;
}

/* --------------------------- HEADER */

/* landing page header */

.header-home {
	top:0;
	position:fixed;
	width:100%;
	z-index: 999;
	padding:2.5vw 0;
}

/* content page header */

.header-pages {
	top:0;
	position:fixed;
	width:100%;
	z-index: 999;
	padding:2.5vw 0;
	background-color:white;
}

/* landing page name */

.me-home {
	float:left;
	margin-left:2vw;
	line-height:.8;
	font-size:1.3em;
}

/* content page name */

.me-pages {
	float:left;
	margin-left:2vw;
	line-height:.8;
	font-size:1.3em;
}

/* nav buttons */

.buttons {
	float:right;
	padding:0;
	margin-right:2vw;
	font-size:.7em;
	font-weight:500;
	letter-spacing:.05em;
}

/* landing page nav button styles */

.header-home a {
	color:white;
	opacity:1;
	padding:1.5vw;
	margin:0;
}

.header-home a:hover {
	color:white;
	opacity:.3;
	transition: .3s ease;
}

/* content page nav button styles */

.header-pages a {
	color:#808080;
	opacity:1;
	padding:1.5vw;
	margin:0;

}

.header-pages a:hover {
	color:black;
	opacity:1;
	transition: .3s ease;
}

/* active page marker */

.on {
	color:black;
}

/* --------------------------- LANDING PAGE VIDEO */

/* video container */

#bg-video {
  position: fixed;
  width:auto;
  height:100%;
}

/* video */

* { box-sizing: border-box; }
.video-background {
  position: fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index: -99;
}
/* iframe settings */

.video-foreground, .video-background iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

iframe.desktop {
display:visible;
}

img.mobile {
display:none;
}

/* responsive settings */

@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}

@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}	

/* --------------------------- BRANDS + AWARDS */

/* brands + awards pages */

.logos {
	background-color:transparent;
	padding:2.5vw 8vw 6vw;
	margin-top:8vw;
}

/* container holding all logos */

.logocontainer {
	position: relative;
	display: table-cell;
	margin:0;
	padding:2.4vw;
}

/* logo containers */

.logothumbcontainer{
	width: 100%;
	height: auto;
	margin:0;
	padding:0;
}

/* --------------------------- PROJECTS */

/* projects page */

.work {
	background-color:black;
	margin-top:6.2vw;
}

/* container holding all thumbnails */

.projects {
	display: table;
	width: 100%;
	margin:0;
	padding:0;
}

.projects span {
	display: table-cell;
	width: auto;
	margin:0;
	padding:0;
}

.projects span img {
	vertical-align: top;
	margin:0;
	padding:0;
}

/* thumbnail containers */

.container {
	position: relative;
	display: table-cell;
	background-color:transparent;
	margin:0;
	padding:0;
}

.thumbnail-container {
	width: 100%;
	height: auto;
	margin:0;
	padding:0;
}

/* thumbnail overlay */

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	background-color: rgba(0,0,0,.9);
	margin:0;
	padding:0;
	background-height:100%;
}

.container:hover .overlay {
	opacity: .9;
	margin:0;
	padding:0;
	transition: .3s ease;
}

/* thumbnail overlay text */

.overlay-text {
	color: white;
	font-size: 1.8vw;
	line-height:1.1;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	margin:0;
	padding:0;
}

/* --------------------------- PROJECT CONTENT */

/* project page */

.project-content {
	padding:12vw 10vw 0;
	margin:0;
}

/* project title */

.project-intro {
	color:#808080;
	font-size:2.8em;
	font-weight:700;
	letter-spacing:-.02em;
	line-height:1;
}

/* project description */

.project-description {
	color:#808080;
	font-size:1.2em;
	font-weight:500;
	margin:3vw 0 5vw;
	line-height:1.5;
}

/* project credits */

.project-credits {
	margin:0;
	padding:7vw 10vw 3vw;
	color:#808080;
	font-size:.7em;
	font-weight:500;
	line-height:1.6;
	letter-spacing:.005em;
}

/* secondary content */

.project-content2 {
	padding:2vw 10vw 0;
	margin:0;
}

/* secondary content title */

.project-content3 {
	padding:0vw 10vw 0;
	margin:0;
}

/* --------------------------- BACK BUTTON */

.back-button {
	padding:0 10vw 10vw;
	float:right;
}

.back-button a {
	color:#808080;
	font-size:1em;
	font-weight:500;
}

.back-button a:hover {
	color:black;
	opacity:1;
	transition: .3s ease;
}

/* --------------------------- PROJECT VIDEOS */

/* single video */

.project-video {
	background-color:black;
	padding:0 0;
	position:relative;
	margin-bottom:2vw;
}

/* div video sits in */

.single-video-container {
	background-color:transparent;
	margin-bottom:5vw;
	padding:44.8% 0 0;
	position:relative;
}

/* iframe settings */

.single-video {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

/* --------------------------- PROJECT PHOTOGRAPHY */


/* single photos */

.project-photography {
	padding:0;
	margin:0;
}

img.project-photography {
	width:100%;
	padding:.5vw 0;
}

/* double photos */

.project-photography-double {
	padding:5vw 10vw 0;
	margin:0;
}

img.project-photography-double {
	width:49.7%;
	padding:0;
}

/* triple photos */

.project-photography-triple {
	padding:5vw 10vw 0;
	margin:0;
}

img.project-photography-triple {
	width:33%;
	padding:0;
}

/* video container */

.double-video-container {
	display:inline;
	background-color:transparent;
	padding:0;
	margin:0;
	position:relative;
}

/* iframe settings */

.double-video {
	padding:0;
	margin:0;
	width:39.7vw;
	height:23vw;
}

/* --------------------------- SCROLLBAR */

/* disappearing srollbar */
::-webkit-scrollbar {
	width: 0px;
}





/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- RESPONSIVE */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */





/* --------------------------- NARROW AND MOBILE */

@media screen and (max-width: 500px) {

iframe.desktop {
display:none;
}

img.mobile {
display:visible;
}

/* --------------------------- NARROW AND MOBILE */

@media screen and (max-width: 700px) {

body {
	background-color:white;
}

.intro {
	padding:0 2vw 0;
	margin:0;
}

.slash {
	display:none;
}

.header-home {
	width:100%;
	z-index: 999;
	padding:0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.header-pages {
	top:0;
	position:fixed;
	width:100%;
	z-index: 999;
	padding:4vw;
	background-color:white;
	height:23vw;
	border-bottom:1px solid rgba(0,0,0,.05);
}

.me-home {
	text-align:center;
	font-size:13vw;
	line-height:1.2;
	padding:0 0 4vw;
	margin:0;
}

.me-pages {
	text-align:center;
	font-size:6vw;
	float:none;
	line-height:1;
	padding:0 0 4vw;
	margin:0;
}

.buttons {
	text-align:center;
	float:none;
	font-size:3.5vw;
	font-weight:500;
	letter-spacing:0em;
	line-height:1;
	padding:0;
	margin:0;
}

.header a {
	color:white;
	padding:0 1.5vw;
	margin:0;
	border:0;
}

.header a:hover {
	color:rgb(255,255,255,.7);
}

.on {
	padding:1.5vw 0;
	margin:0;
}

/* work */

.work {
	margin:23vw 0 0;
}

.projects {
	display: inline-block;
	width: 100%;
	margin:0;
	padding:0;
}

.projects span {
	display: inline-block;
	width: auto;
	margin:0;
	padding:0;
}

.projects span img {
	vertical-align: top;
	margin:0;
	padding:0;
}

.container {
	position: relative;
	display: inline;
	background-color:black;
	margin:0;
	padding:0;
}

.thumbnail-container {
	width: 100%;
	height: auto;
	margin:0;
	padding:0;
}

.overlay {
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 1;
	background-color: rgba(0,0,0,.9);
	margin:0;
	padding:0;
	background-height:100%;
}

.overlay-text {
	color: white;
	font-size: 3.5vw;
	font-weight:500;
	letter-spacing:0;
	line-height:0;
	position: absolute;
	top: -30;
	left: 0;
	bottom:0;
	right: 20;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
	text-align: right;
	margin:0;
	padding:0 0 6vw 6vw;
	text-shadow: rgba(0,0,0,.4) 1px 1px 5px;
}

/* project page */

.project-content {
	padding:32vw 10vw 0;
	margin:0;
}

.project-content2 {
	padding:2vw 10vw 0;
	margin:0;
}

.project-intro {
	font-size:6.2vw;
	font-weight:700;
	letter-spacing:-.5;
}

.project-description {
	font-size:3.5vw;
	line-height:1.5;
	font-weight:500;
	margin:6vw 0 8vw;
}

.project-photography img {
	padding:.5vw 0;
}

.project-credits {
	margin:0;
	padding:8vw 10vw 8vw;
	font-size:2.6vw;
	font-weight:500;
	line-height:1.5;
	letter-spacing:.005em;
}

.back-button {
	padding:0 10vw 15vw;
}

/* brands and awards */

.logos {
	display:inline-block;
	margin:35vw 0;
	padding:0;
}

.logocontainer {
	position:relative;
	display: inline-block;
	margin:0;
	padding:0;
	text-align:center;
}

.logothumbcontainer {
	display:inline;
	width:50%;
	margin:0;
	padding:5vw 0;
}

}





/* --------------------------- MEDIUM WIDTH */




/* wider middle */

@media screen and (min-width:941px) and (max-width: 1130px) {

img.project-photography-double {
	width:49.7%;
	padding:0;
	margin:0;
}

img.project-photography-triple {
	width:49.7%;
	padding:0;
}

}

/* narrower middle */

@media screen and (min-width:700px) and (max-width: 940px) {

img.project-photography-double, {
	width:100%;
	padding:.4vw 0;
}

img.project-photography-triple {
	width:100%;
	padding:.4vw 0;
}

}

/* --------------------------- NARROW AND MOBILE */

/* double videos middle */
@media screen and (max-width: 699px) {

.project-photography-double img, {
	width:100%;
	padding:.4vw 0;
}

img.project-photography-triple {
	width:100%;
	padding:.4vw 0;
}

/* double videos */

/* div video sits in */

.double-video-container {
	display:inline;
	background-color:transparent;
	padding:44.8% 0 0;
	margin:0 0 5vw;
	position:relative;
}

/* iframe settings */

.double-video {
	position:relative;
	top:0;
	left:0;
	width:80vw;
	height:50vw;

	/* delete or not */

	padding:0;
	margin:0;
}


}