@font-face {
    font-family: 'Volte';
    src: url('Volte-Light.woff2') format('woff2'),
        url('Volte-Light.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Volte';
    src: url('Volte-Bold.woff2') format('woff2'),
        url('Volte-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Volte';
    src: url('Volte-Medium.woff2') format('woff2'),
        url('Volte-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Volte';
    src: url('Volte-Semibold.woff2') format('woff2'),
        url('Volte-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Volte';
    src: url('Volte.woff2') format('woff2'),
        url('Volte.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
  box-sizing: border-box;
}

/* ------------------------ BODY ------------------------ */

html, body {
	scroll-behavior: smooth;
	margin:0;
	padding:0;
	overflow-x:hidden;
	font-family: 'Volte', sans-serif;
	text-transform:none;
	color:#ffffff;
}

.keyframes {
	width:0;
}

.menu {
	width:1.85vw;
	height:1.85vw;
	opacity:.3;
	transition: .15s ease-in-out;
}

.menu:hover {
opacity:1;
}

/* ------------------------ top_left ------------------------ */

.top_left {
  position:fixed;
  top:.5vw;
  left:2.1vw;
  width:24%;
  padding:1.7vw;
  z-index:9999999;
}

.star {
	font-size:.25em;
	position:relative;
	top:-.8em;
}

/* ------------------------ NAV ------------------------ */

.top {
	position:fixed;
	margin:0;
	padding:0;
	letter-spacing:0;
	text-align:right;
	width:100%;
	top:4.5vw;
	right:4.5vw;
}

.top a {
	text-transform:uppercase;
	text-decoration:none;
	color:rgba(255,255,255,.5);
  transition: .15s ease-in-out;
	padding:1vw;
	margin:0 0 0 1vw;
	letter-spacing: 1px;
	font-size: 11px;
  font-weight:500;
}

.top a:hover {
	color:rgba(255,255,255,1);
}

/* ------------------------ VIDEO ------------------------ */

* { box-sizing: border-box; }

.video-background {
	background-color:black;
	opacity:1;
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	z-index: -999999;
}

iframe {
	opacity:.65;
}

.video-foreground, .video-background iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	background-color:black;
	}

@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}