@import url('https://fonts.googleapis.com/css?family=DM+Sans:400,400i,500,500i,700,700i&display=swap');

.job-title, .scroll-prompt, .video, .video iframe, img.logo, .section, .disappear {
  display:none;
}

html, body {
	scroll-behavior: smooth;
}

body {
	background-color: white;
	transition: background-color 1s ease;
	font-family: 'DM Sans', sans-serif;
	letter-spacing:0.008em;
	margin:0;
	padding:0;
	overflow-x:hidden;
}

a {
	text-decoration:none;
	color:#ad9460;
}

/*-- TINY + CREDITS LEFT --*/

h1 {
	font-weight:600;
	font-size:12px;
	letter-spacing:0.008em;
	margin:0 3vw 0 0;
	padding:0;
	color:grey;
}

/*-- CREDITS RIGHT --*/

h2 {
	font-weight:400;
	font-size:12px;
	letter-spacing:0.008em;
	margin:0;
	padding:0;
	color:grey;
}

/*-- HUGE --*/

h3 {
	color:#ad9460;
	font-weight:400;
	font-size:7vw;
	letter-spacing:0.008em;
	line-height:1;
	margin:0;
	padding:0;
}

/*-- DESCRIPTION --*/

h4 {
	font-weight:400;
	font-size:1.3vw;
	letter-spacing:0.008em;
	line-height:1.7;
	margin:0;
	padding:0;
}

.contact-mobile {
	opacity:0;
}

/*-- NAV BAR --*/

.nav-bar {
	z-index:999999;
	position:fixed;
	top:0;
	width:100%;
	background-color:white;
	border-bottom:1px solid #ad9460;
	padding:0;
	margin:0;
	text-align:center;
}

/*-- NAV LINKS --*/

ul.nav {
	list-style-type: none;
	margin:0;
	padding:2vw 0;
	display:inherit;
	float:middle;
}

.nav li {
	display:inline-block;
	margin:0;
	padding:0 2vw;
	vertical-align:middle;
}

.back {
  font-family: 'DM Sans', Sans-Serif;
	color:#ad9460;
  font-weight:400;
	font-size:16px;
  text-transform:none;
  border:0;
  background-color:transparent;
  display: inline;
  transition: .3s ease-in-out;
  cursor:pointer;
  margin:0;
  padding:0;
}

.back:hover {
  opacity:1;
}

/*-- PROJECT WRITEUP --*/

ul.writeup {
	overflow: visible;
	padding:0;
	margin:0;
}

.writeup li {
	display: inline-block;
	vertical-align:top;
	margin:0;
	padding:0 2vw 0 0;
	width:45%;
}

/*-- PROJECT WRITEUP HEADERS --*/

ul.writeup-headers {
	width:100%;
	overflow: visible;
	padding:0;
}

.writeup-headers li {
	display: inline-block;
	vertical-align:top;
	margin:0;
	padding:0 2vw 0 0;
	width:45%;
}

.header-img {
	width: 100%;
	height:40vw;
	background-position: top;
	background-attachment: fixed;
	background-size:cover;
	background-repeat:no-repeat;
	padding:0;
	margin:0;
}

/*-- HOMEPAGE SECTIONS--*/

.section {
	position:relative;
	top:0vw;
	left:12.5vw;
	margin:0;
	padding:0;
}

audio {
    width: 0;
    padding:0;
    margin:0;
}

/* CREDITS TABLE */

table.credits {
	text-align:left;
	color: black;
	font-weight:500;
	letter-spacing:.08;
	line-height:1.6;
	border-collapse:separate;
	padding:0;
	margin:5vw 0 0;
}

td, th {
	vertical-align: top;
	margin:0;
	padding:0;
}

/*-- PROJECT WRITEUP --*/

ul.writeup {
	width:100%;
	overflow: visible;
	padding:0;
	margin:0;
}

.writeup li {
	display: inline-block;
	vertical-align:top;
	margin:0;
	padding:0 2vw 0 0;
}

/* --------------------------- PROJECTS */

/* projects page */

.work {
	background-color:black;
	margin-top:80px;
}

/* container holding all thumbnails */

.projects {
	display:table;
	width:100%;
	margin:0;
	padding:0;
}

.projects span {
	display:table-cell;
	width:auto;
	margin:0;
	padding:0;
}

.projects span img {
	vertical-align: top;
	margin:0;
	padding:0;
}

/* thumbnail containers */

.container {
	position:relative;
	display:table-cell;
	margin:0;
	padding:0;
	background-color:black;
}

.thumbnail-container {
	width: 100%;
	height: auto;
	margin:0;
	padding:0;
}

/* --------------------------- PROJECT CONTENT */

/* project page */

.project-content {
	padding:5vw 12.5vw 5vw;
	margin:0;
}

/* secondary content */

.project-content2 {
	padding:2vw 10vw 0;
	margin:0;
}

/* secondary content title */

.project-content3 {
	padding:0vw 10vw 0;
	margin:0;
}

/* --------------------------- PROJECT VIDEOS */

/* single video */

.project-video {
	background-color:black;
	padding:0 0;
	position:relative;
	margin-bottom:2vw;
}

/* div video sits in */

.single-video-container {
	background-color:transparent;
	margin-bottom:5vw;
	padding:44.8% 0 0;
	position:relative;
}

/* iframe settings */

.single-video {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

/* --------------------------- PROJECT PHOTOGRAPHY */


/* single photos */

.project-photography {
	padding:0;
	margin:0;
}

img.project-photography {
	width:100%;
	padding:.5vw 0;
}

/* double photos */

.project-photography-double {
	padding:5vw 10vw 0;
	margin:0;
}

img.project-photography-double {
	width:49.7%;
	padding:0;
}

/* triple photos */

.project-photography-triple {
	padding:5vw 0 0;
	margin:0;
}

img.project-photography-triple {
	width:33%;
	padding:0;
}

/* video container */

.double-video-container {
	display:inline;
	background-color:transparent;
	padding:0;
	margin:0;
	position:relative;
}

/* iframe settings */

.double-video {
	padding:0;
	margin:0;
	width:39.7vw;
	height:23vw;
}



/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255,255,255,1);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ad9460; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white; 
}































/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- RESPONSIVE */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */

































/* --------------------------- NARROW AND MOBILE */

@media screen and (max-width: 640px) {

	/* CREDITS TABLE */

.writeup li {
	display: inline;
	margin:0;
	padding:0;}

ul.writeup-headers, .writeup-headers li {
	display:none;
}

.name, .job-title, .scroll-prompt, .video, .video iframe, img.logo, .section, .disappear {
  display:none;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255,255,255,1);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ad9460; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white; 
}

}

/* --------------------------- MEDIUM WIDTH */


/* wider middle */

@media screen and (min-width:941px) and (max-width: 1130px) {

img.project-photography-double {
	width:49.7%;
	padding:0;
	margin:0;
}

img.project-photography-triple {
	width:49.7%;
	padding:0;
}

}

/* narrower middle */

@media screen and (min-width:700px) and (max-width: 940px) {

img.project-photography-double, {
	width:100%;
	padding:.4vw 0;
}

img.project-photography-triple {
	width:100%;
	padding:.4vw 0;
}

}








/* --------------------------- NARROW AND MOBILE */

/* double videos middle */
@media screen and (max-width: 699px) {

.project-photography-double img, {
	width:100%;
	padding:.4vw 0;
}

img.project-photography-triple {
	width:100%;
	padding:.4vw 0;
}

/*-- HUGE --*/

h3 {
	font-size:10vw;
	margin:0 0 5vw;
}

/*-- DESCRIPTION --*/

h4 {
	font-size:5vw;
	margin:0 0 10vw;
}

h1,h2 {
	line-height:1.1;
	font-size:.6em;
	padding:0;
	margin:0;
}

table.credits {
	padding:0;
	margin-bottom:12vw;}

.project-content {
	padding:0;
	margin:25vw 3vw 10vw;}

.project-content h1, .project-content h2, .project-content h3, .project-content h4 {
	padding: 0 8vw 0;}

/*-- NAV BAR --*/

.nav-bar {
	display:table;
	padding:0;
	margin:0;
	width:100%;
	height:15vw;
	max-height:15vw;
}

/*-- NAV LINKS --*/

ul.nav {
	display:table-cell;
	vertical-align:middle;
	margin:0;
	padding:0;
	height:15vw;
	max-height:15vw;
}

.nav li {
	font-size:3.8vw;
	font-weight:700;
	margin:0;
	padding:0;
}

.header-img {
	position:relative;
	width: 100%;
	height:40%;
	background-color:black;
	background-position: center top;
	background-attachment: fixed;
	background-size:180% auto;
	background-repeat:no-repeat;
	padding:0;
	margin:0;
	top:15vw;
}

}

}