@import url('https://fonts.googleapis.com/css?family=DM+Sans:400,400i,500,500i,700,700i&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'DM Sans';
}

a {
  text-decoration:none;
  color:rgba(0,0,0,1);
  transition: .3s ease-in-out;
  font-weight:500;
}

a:hover {
  color:grey;
  border-bottom:1.5px solid;
}

.name {
  font-size:2em;
  position:fixed;
  top:2vw;
  width:100%;
  text-align:center;
}

.contact {
  font-size:.8em;
  position:fixed;
  top:50%;
  left:1vw;
  transform: rotate(-90deg);
  padding:5px;
}

.back {
  font-size:.8em;
  position:fixed;
  top:50%;
  right:-1vw;
  padding:5px;
  transform: rotate(90deg);
}

.contact a:hover, .back a:hover {
  color:grey;
  border-bottom:0;
}

hr {
  height:1vw;
  border:0px solid white;
}

h1 {
  color:#ad9460;
  font-family: 'DM Sans', sans-serif;
  font-weight:500;
  font-size:8vw;
  letter-spacing:0;
  line-height:2;
  text-transform:none;
  margin:0;
  padding:5vw;
}

h2 {
  letter-spacing:.3pt;
  font-family:'DM Sans';
  font-weight:400;
  font-size:1em;
  padding:0;
  margin:0;
}

h3 {
  letter-spacing:.3pt;
  font-family:'DM Sans';
  font-weight:400;
  font-size:.8em;
  line-height:1.6;
}

.photos {
  width:100%;
  padding:12vw 12.5vw 0;
  margin:0 auto 0;
}

.photo {
  width:75vw;
  margin:0 auto 0;
  height:40vw;
  background-size:cover;
  background-position:center;
}

.label a {
  border-bottom:1.5px solid;
}

td {
  vertical-align:top;
}

td.title {
  width:20vw;
}

.secondary {
  opacity:.35;
}

.label {
  margin:2.5vw 0 10vw;
}

.divider {
  height:2vw;
}

.description {
  margin:2vw 0 10vw;
  border:1px solid red;
}

/* --------------------------- SCROLLBAR */


/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255,255,255,1);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:rgba(252,223,205,1);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white; 
}